<!--{{quizzes | json }}-->

<div *ngFor="let quiz of quizzes">
  <table>
    <tr>
      <td>{{quiz.name}}</td>
      <td>SIZE</td>
      <td>
        <a routerLink="/{{quiz.id}}" mz-button>
          Go to quiz
        </a>
      </td>
    </tr>
  </table>


</div>
